* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.loading {
  height: 100px;
  position: relative;
  width: 100px;
  z-index: 2;
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
}
.loading::before {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 45px;
  z-index: 1;
  height: 100%;
  transform-origin: center bottom;
  -webkit-clip-path: circle(50% at 50% 100%);
  clip-path: circle(50% at 50% 100%);
  background-color: rgb(255, 255, 255);
  animation: rotate 2s linear infinite;
}
.loading::after {
  position: absolute;
  content: "";
  width: 100%;
  top: 45px;
  z-index: 1;
  height: 100%;
  transform-origin: center top;
  -webkit-clip-path: circle(50% at 50% 0);
  clip-path: circle(50% at 50% 0);
  background-color: rgb(255, 255, 255);
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
